<div>
    <mat-toolbar class="d-flex justify-content-between container-fluid menuPrincipal">
      <div class="d-flex header-section align-items-center">
        <a [routerLink]="['/','home']">
          <img src="" class="logo" matTooltip="">
        </a>
       

          <button mat-mini-fab class="btn-menu" [matMenuTriggerFor]="miniMenu" matTooltip="menu principal">
            <mat-icon>menu</mat-icon>
          </button>
            
        <mat-menu #miniMenu="matMenu" class="btn-menu">
          <button mat-menu-item [matMenuTriggerFor]="Despesa">
            <span>Despesa</span>
          </button>
   
          <button mat-menu-item [matMenuTriggerFor]="Receita">
            <span>Receita</span>
          </button>
   
          <button mat-menu-item [matMenuTriggerFor]="menuControleAcesso">
            <span>Controle Acesso</span>
          </button>
   
   
   
   
        </mat-menu>
        <mat-menu class="btn-menu" #Despesa="matMenu">
         
          <button mat-menu-item [routerLink]="['/','despesa','lista']">
            <span>despesa</span>
          </button>
   
        </mat-menu>
   
        <mat-menu class="btn-menu" #Receita="matMenu">
          <button mat-menu-item [routerLink]="['/','receita','lista']">
            <span>receita</span>
          </button>
   
        </mat-menu>
   
        <mat-menu class="btn-menu" #menuControleAcesso="matMenu">
            <button mat-menu-item [routerLink]="['/','usuario','lista']">
              <span>usuario</span>
            </button>

            <mat-divider></mat-divider>
            <button mat-menu-item [routerLink]="['/','permissao','lista']">
              <span>permissão</span>
            </button>
        </mat-menu>
      </div>
   
    </mat-toolbar>
   
   
    <div class="container-fluid">
      <div [class.desenv-style]="" class="row">
        <!-- <div class="col-2" id="area-menu-lateral" style="background-color: blue;">
   
        </div> -->
        <div class="col-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
   
  </div>
   