<div class="row header-page">
    <div class="col text-center">
        <h1 class="m1">Relação de Usuários</h1>
    </div>
</div>

<div class="container-fluid">
    <h2 id="titulo-filtro">Filtros</h2>
    <form [formGroup]="formFiltro">
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <div class="col-3 processo">
                <mat-form-field class="custom-select">
                    <mat-label>Nome do usuário</mat-label>
                    <input type="text" matInput
                     formControlName="nomeUsuario" [matAutocomplete]="autoResp">
                     <mat-autocomplete autoActiveFirstOption
                      #autoResp="matAutocomplete" [displayWith]="obterNome"
                      (optionsSelected)="AplicarFiltro()">
                    <mat-option>&lt;&lt;Selecione&gt;&gt;</mat-option>
                    <mat-option *ngFor="let item of nomeFiltro" [value]="item">
                        {{item?.nome}}
                    </mat-option>
                    </mat-autocomplete>

                    <span class="dropdown-icon"></span>
                </mat-form-field>
            </div>

            <div class="col-3 processo">
                <mat-form-field class="custom-select">
                    <mat-label>Email do usuário</mat-label>
                    <input type="text" matInput
                     formControlName="emailUsuario" [matAutocomplete]="autoResp">
                     <mat-autocomplete autoActiveFirstOption
                      #autoResp="matAutocomplete" [displayWith]="obterEmail"
                      (optionsSelected)="AplicarFiltro()">
                    <mat-option>&lt;&lt;Selecione&gt;&gt;</mat-option>
                    <mat-option *ngFor="let item of emailFiltro" [value]="item">
                        {{item?.email}}
                    </mat-option>
                    </mat-autocomplete>

                    <span class="dropdown-icon"></span>
                </mat-form-field>
            </div>

            <div class="col-3 processo">
                <mat-form-field class="custom-select">
                    <mat-label>Senha do usuário</mat-label>
                    <input type="text" matInput
                     formControlName="senhaUsuario" [matAutocomplete]="autoResp">
                     <mat-autocomplete autoActiveFirstOption
                      #autoResp="matAutocomplete" [displayWith]="obterSenha"
                      (optionsSelected)="AplicarFiltro()">
                    <mat-option>&lt;&lt;Selecione&gt;&gt;</mat-option>
                    <mat-option *ngFor="let item of senhaFiltro" [value]="item">
                        {{item?.senha}}
                    </mat-option>
                    </mat-autocomplete>

                    <span class="dropdown-icon"></span>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>